<script src="/scripts/three.min.js"></script>
<script src="/scripts/STLLoader.js"></script>
<script src="/scripts/Detector.js"></script>
<script src="/scripts/OrbitControls.js"></script>
<!-- <script src="/scripts/stats.min.js"></script> -->

<script src="/scripts/STLViewer.js"></script>
<script>
$(function() {
    THREE.STLViewer('{{model_url}}', $('#model_container'), true, function(data) {
        console.log(data);
        $('#volume').text(Math.round(data.volume) / 1000.0);
        $('#width').text(Math.round(data.width) / 10.0);
        $('#length').text(Math.round(data.length) / 10.0);
        $('#height').text(Math.round(data.height) / 10.0);

        var size = data.fileSize;
        var units = ['B', 'K', 'M', 'G']
        var unit_index = 0;
        while (size >= 10 && unit_index < units.length - 1) {
            size /= 1024.0;
            unit_index++;
        }
        $('#size').text(Math.round(size * 100.0) / 100.0 + units[unit_index]);
    });
});
</script>

<div id="wrapper">
    <section id="model_container">
        <div id="percent"></div>
    </section>

    <section id="info">
        <div id="filename">
            {{filename}}
        </div>
        <ul id="details">
            <li><strong class="label">Volume:</strong> <span id="volume"></span>cm<sup>3</sup></li>
            <li><strong class="label">Width:</strong> <span id="width"></span>cm</li>
            <li><strong class="label">Length:</strong> <span id="length"></span>cm</li>
            <li><strong class="label">Height:</strong> <span id="height"></span>cm</li>
            <li><strong class="label">File size:</strong> <span id="size"></span></li>
        </ul>
        <div id="links">
            <a href="{{model_url}}">Download</a><span class="splitter">&bull;</span><a href="{{site_root}}/viewer/{{model_name}}">Viewer</a><br />
        </div>
    </section>
</div>
